.layout {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.video_area {
  width: 100%;
  height: 100%;
  flex: 2;
}

.recoding_display {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  transform: scaleX(-1);
  object-fit: fill;
  aspect-ratio: 16 / 9;
}

.chat_area {
  display: flex;
  flex: 1;
}

@media (max-width: 1020px) {
  .video_area {
    flex: 1;
  }
}
