.layout {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.video_wrap {
  border-radius: 12px;
  flex: 2;

  video {
    border-radius: 12px;
    height: 100%;
    transform: scaleX(-1);
    object-fit: fill;
  }
}

.chat_area {
  display: flex;
  flex: 1;
}
