.end_container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.evaluation_container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 20px 0;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.evaluation_container::-webkit-scrollbar {
  display: none;
}

.evaluation_item {
  flex: 0 0 93%;
  border-radius: 12px;
  padding: 20px;
  background-color: white;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  &:first-child {
    margin-left: 10px;
  }

  &:last-child {
    margin-right: 10px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination_item {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #0070f3;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #005bb5;
  }
}

.pagination {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.pagination_bar {
  width: 40px;
  height: 8px;
  background-color: rgba(64, 170, 64, 0.5);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 999px;
}

.pagination_bar:hover {
  background-color: rgba(64, 170, 64, 0.8);
}

.active {
  background-color: rgba(64, 170, 64, 1);
}

.custom_divider_horizontal {
  height: 4px;
  background-color: rgba(64, 170, 64, 0.5);
  margin: 0 12px;
  border-radius: 999px;
}

.custom_divider_vertical {
  width: 4px;
  height: 100%;
  background-color: rgba(64, 170, 64, 0.5);
  border-radius: 999px;
}
