.caution {
  background-color: #0b627d;
  padding: 40px 40px 20px;
  border-radius: 32px;
  margin-bottom: 12px;

  h2 {
    font-size: 48;
    font-weight: 600;
    color: #d1dae3;
  }

  p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 200px;
    font-size: 16px;
  }
}

.description {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4;

  margin-bottom: 16px;
}

.micBtn {
  border-radius: 8px;
  border: none;
  padding: 12px 20px;
}

.transcript {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin: 10px 0;
}
