.container {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 1320px;
  max-height: 740px;
  min-width: 875px;
  min-height: 492px;
  position: relative;
}
