.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 63px);
  background: linear-gradient(150deg, #004922 0%, #02632f 40%, #058841 70%);
  min-width: 660px;
  width: 100%;
}
