.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  background: linear-gradient(150deg, #004922 0%, #02632f 40%, #058841 70%);
  min-width: 660px;
  width: 100%;
  padding: 100px;
  padding-top: 140px;
}
