.layout {
  width: 100vw;
  height: calc(100vh - 63px);
  background: radial-gradient(321.46% 126.46% at 86.33% 0%, #1b172f 0%, #1a1a1a 47.92%, #1b172f 100%);
  padding: 63px 80px;
}

@media (max-width: 1280px) {
  .layout {
    padding: 63px 20px;
  }
}
