.layout {
  padding: 0px 80px;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;

  & li {
    list-style: none;
    color: #777;
    font-size: 20px;
    font-weight: 600;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;

  margin-right: 20px;

  & p {
    color: #000;
    font-size: 24px;
    font-weight: 800;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 31px;
}

.hamburger {
  border: none;
  background-color: transparent;
}

@media (max-width: 1280px) and (min-width: 781px) {
  .layout {
    padding: 0px 20px;
  }
}
