.layout {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 20px;

  p {
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
  }
}

.profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 31px;
}

.profile_img {
  border-radius: 100%;
}

@media (max-width: 780px) {
  .logo p {
    display: none;
  }

  .nav {
    :not(:first-child) {
      display: none;
    }
  }
}
