.question_information {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  gap: 8px;

  .question_type {
    padding: 12px 16px;
    min-height: 46px;
    border-radius: 5px;
    border: 1px solid #5351a5;
    background: #1b172f;

    color: #8243d2;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }

  .question_current_total {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    min-height: 46px;
    border-radius: 5px;
    border: 1px solid #5351a5;
    background: #1b172f;

    color: #fff;
  }
}

.recoder_btn {
  padding: 12px 28px;
  border-radius: 5px;
  border: 1px solid #5351a5;
  background: #1b172f;
  grid-column: 3;
  width: 80%;

  justify-self: center; // 가운데 정렬
  align-self: center; // 가운데 정렬
  cursor: pointer;

  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.question {
  margin-top: 20px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.recoding_display {
  width: 100%;
  height: 100%;
  border-radius: 28px;
  transform: scaleX(-1);
  margin: 12px 0;
}

.videoWrap {
  overflow: hidden;
  display: inline-block;
}

.next_btn {
  margin-top: 24px;
  padding: 12px 220px;
  border-radius: 5px;
  border: 1px solid #5351a5;
  background: #1b172f;
  grid-column: 3;

  justify-self: center; // 가운데 정렬
  align-self: center; // 가운데 정렬
  cursor: pointer;

  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.next_btn_none {
  display: none;
}
