.description {
  margin-top: 27px;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}

.end_btn {
  margin-top: 100px;
  padding: 12px 120px;
  border-radius: 11px;
  border: 1px solid #5351a5;
  background: #1b172f;

  cursor: pointer;

  color: #fff;
  font-size: 36px;
  font-weight: 600;
}
