.stack_header {
  h1 {
    font-size: 36px;
    font-weight: 700;
  }

  p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
  }
}

.stack_layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.stack_name_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.stack_name_btn {
  font-size: 36px;
  padding: 12px 32px;
  border-radius: 80px;
  background-color: #ffffff;
  border: 2px solid #058841;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.stack_name_btn:hover {
  background-color: #058841;
  color: #fff;
}

.selected_stack_name_btn {
  font-size: 36px;
  padding: 12px 32px;
  border-radius: 80px;
  background-color: #058841;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
}
