.logout_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  font-size: 16px;
  background-color: red;
  border-radius: 8px;
  color: white;
  border: none;
}
