.logout_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.logout_btn:hover {
  color: rgba($color: #000000, $alpha: 0.7);
}
