.layout {
  border-radius: 11px;
  border: 3px solid #058841;
  background: #fff;

  padding: 20px 112px;

  color: #000;
  font-size: 36px;
  font-weight: 600;

  cursor: pointer;

  &:hover {
    background-color: #058841;
    color: #fff;
    transition: background-color 0.2s ease-in-out;
  }

  &:disabled {
    border: 3px solid #058841;
    border-radius: 4px;
    padding: 20px 16px;
    color: #000;
    background-color: #fff;
    opacity: 0.6;
    font-size: 36px;
    font-weight: 600;
    cursor: none;
  }
}

@media (max-width: 1230px) {
  .layout {
    font-size: 28px;
  }
}
